
@{
    ViewBag.Title = "ConfirmForgetPassword";
}

<h1>ConfirmForgetPassword</h1>
<p>If You Have an account, we sent reset password link to your email,please check your inbox....</p>
<a asp-controller="Account" asp-action="Login">Login</a>
