@model ForgetPasswordVM 
@{
    ViewBag.Title = "ForgetPassword";
}

<div class="LoginForm">
    <div class="container">
        <div class="row">
            <h3 class="h2 LoginForm--title text-center mb-5">
                Enter your email address that you used to register we will send you an email with your username and a link to reset your password
            </h3>
            <form asp-controller="Account" asp-action="ForgetPassword" method="post" class="LoginForm--mainform offset-3 col-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Email">Your Email</label>
                <input asp-for="Email" type="text" class="form-control mb-2" />
                <button type="submit" class="btn btn-primary mb-3 mt-3 d-block">
                    Reset My Password
                </button>
                <a asp-controller="Account" asp-action="Login" class="text-decoration-underline text-center">Login</a>
            </form>
        </div>
    </div>
</div>